main{
	display: flex;
	background: whitesmoke;
	justify-content: center;
	align-items: center;
	height: 900px;
	width: 100%;
}
a{
	text-decoration: none;
}
a:visited, a:link, a:active{
	color: black;
}
input:focus{
	outline: none;
}
button:focus{
	outline: none;
}
.box{
	border-radius: 3px;
	width: 500px;
	height: 480px;
	background: #fff;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.12);
	text-align: center;
}
.header{
	width: 500px;
	height: 100px;
	background: #17a2d4;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.heading{
	font-family: lato;
	color: #f4f4f4;
	font-weight: 800;
	text-align: center;
	font-size: 30px;
}
.form{
	text-align: center;
	padding: 10px 0;
}
.basic-form{
	border-radius: 3px;
	border: 1px solid #e8e8e8;
	background: #f6f6f6;
	width: 408px;
	height: 58px;
}
.button{
	border-radius: 3px;
	background: #17a2d4;
	width: 450px;
	height: 60px;
	border: none;
}
.btn-text{
	height: 16px;
	width: 50px;
	font-family: lato;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
}
.left{
	margin-left: 10px;
	float: left;
	text-align: left;
}
.right{
	width: 10%;
	float: right;
	text-align: right;
	color: white;
	font-size: 16px;
}
.icon{
	border-left: 1px solid #fff;
}
.social-button{
	border-radius: 3px;
	width: 212px;
	height: 60px;
	text-align: center;
	border: none;
}
.social-text{
	font-family: lato;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}
.fb{
	background: #3b5998;
}
.google{
	background: #d34836;
}
.social{
	    display: flex;
    	justify-content: space-evenly;
}
.footer-text{
	font-family: lato;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	color: black;
	letter-spacing: 1px;
}
.footer{
	display: flex;
	justify-content: space-between;
	padding: 5px 5px;
}
.foot{
	width: 183px;
}
.f-left{
	
}
.f-right{
	
}
input{ 

   font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}